{% extends 'app/base.html' %}

{% block content %}
<div class="item_1" style="padding: 0; max-width: 90%; ">
    <div class="price_list">
        <div class="price_left">
            <p><a href="/add_my_price/"> Добавление товаров </a></p>
        </div>
        <div class="price_right">
            <p><a href="/my_price/"> Все товары </a></p>
        </div>
    </div>
    <br>
    <p> Выгрузить прайс-лист в файл (yaml) </p>
    <form action="/my_price/" method="POST" class="form_auth">
         {% csrf_token %}
          <input type="hidden" name="price" value="download" style="margin-left: 25px;">
          <input type="submit" class="form_auth" value="Скачать файл" style="border: 1px solid #333; color: #310; background: #f9f1e1; padding: 2.5px; margin-left: 25px; ">
    </form>
    <br>
    <form action="/my_price/" method="POST" class="form_auth">
        {% csrf_token %}
        <input type="hidden" name="activate_sales" value="1" style="margin-left: 25px;">
        {% if orders_possibility.activate_sales %}
            <label>Отключить возможность получать заказы</label><input type="checkbox" name="activate_ok" checked style="margin-left: 25px;">
        {% else %}
            <label>Включить возможность получать заказы</label><input type="checkbox" name="activate_ok" style="margin-left: 25px;">
        {% endif %}
        <input type="submit" class="form_auth" value="Сохранить" style="border: 1px solid #333; color: #310; background: #f9f1e1; padding: 2.5px; margin-left: 25px; ">
    </form>
    <br>
    <h3> Ваши товары </h3>

        {% for item in products %}

        <div class="item_list" style="background: #fffefe; ">
            <div style="display: inline-block; width: 2%; height: 100%; overflow: hidden; ">
            <form action="/my_price/" method="POST" class="form_auth">
                {% csrf_token %}
                <input type="hidden" name="is_active" value="{{ item.id }}" style="margin-left: 25px;">
                {% if item.is_active %}
                    <input type="checkbox" name="active_ok" checked onclick="this.closest('form').submit();" style="margin: 3px;">
                {% else %}
                    <input type="checkbox" name="active_ok" onclick="this.closest('form').submit();" style="margin: 3px;">
                {% endif %}
            </form>
            </div>
            <div style="display: inline-block; width: 97.2%;  height: 100%; border-left: 1px solid #ccc;">
                <div style="border-bottom: 1px solid #ccc; max-height: 20px;">
                    <p style="font-weight: bold; ">
                        <a href="/product_supplier/{{ item.product.article_number }}"> {{ item.product.name }} </a>
                        <a href="/product_supplier/{{ item.product.article_number }}"> (Артикул: {{ item.product.article_number }}) </a>
                    </p>
                </div>
                <p> {{ item.product.description|slice:":60" }}... </p>
                <p> {{ item.price }} руб </p>
                <div class="choose">
                    <p><a href="/product_supplier/{{ item.product.article_number }}" style="line-height: 1; color: #2a4; ">Изменить</a></p>
                    <p><a href="?choose={{ item.id }}&del=1" style="line-height: 1; color: #e01; "> Удалить товар </a></p>
                </div>
           </div>
        </div>

    {% endfor %}

</div>


{% endblock %}